body {
  margin: 0;
  padding: 0;
  
}

.heading-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  padding: 15px;
  font-size: 40px;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-overlay-btn {
  display: block;
  margin-left: auto;
  margin-right: 0;
}